#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@


execute_after_dh_fixperms:
	# See https://github.com/qualcomm-linux/pkg-qcom-adreno/issues/38
	chmod -x adreno-common/usr/lib/adreno-common/adreno-common-vars.sh
	chmod -x adreno-common/etc/profile.d/adreno-common-profile.sh

override_dh_strip: ;

override_dh_dwz: ;

maintainerclean:
	rm -r \
		LICENSE.qcom-2 \
		NOTICE \
		adreno-common/ \
		adreno-egl1/ \
		adreno-gles1/ \
		adreno-gles2/ \
		adreno-opencl-dev/ \
		adreno-opencl-icd/ \
		adreno-vulkan-icd/
