#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
ifeq ($(DEB_HOST_ARCH),arm64)
	mkdir -p $(CURDIR)/debian/qcom-adreno1
	cp -a data/qcom-adreno1/arm64/* $(CURDIR)/debian/qcom-adreno1/

	mkdir -p $(CURDIR)/debian/qcom-adreno-cl1
	cp -a data/qcom-adreno-cl1/arm64/* $(CURDIR)/debian/qcom-adreno-cl1/

	mkdir -p $(CURDIR)/debian/qcom-adreno-cl-dev
	cp -a data/qcom-adreno-cl-dev/arm64/* $(CURDIR)/debian/qcom-adreno-cl-dev/

	mkdir -p $(CURDIR)/debian/qcom-adreno-common1
	cp -a data/qcom-adreno-common1/arm64/* $(CURDIR)/debian/qcom-adreno-common1/

	mkdir -p $(CURDIR)/debian/qcom-adreno-common-dev
	cp -a data/qcom-adreno-common-dev/arm64/* $(CURDIR)/debian/qcom-adreno-common-dev/

	mkdir -p $(CURDIR)/debian/qcom-adreno-dev
	cp -a data/qcom-adreno-dev/arm64/* $(CURDIR)/debian/qcom-adreno-dev/

	mkdir -p $(CURDIR)/debian/qcom-adreno-egl1
	cp -a data/qcom-adreno-egl1/arm64/* $(CURDIR)/debian/qcom-adreno-egl1/

	mkdir -p $(CURDIR)/debian/qcom-adreno-egl-dev
	cp -a data/qcom-adreno-egl-dev/arm64/* $(CURDIR)/debian/qcom-adreno-egl-dev/

	mkdir -p $(CURDIR)/debian/qcom-adreno-gles1
	cp -a data/qcom-adreno-gles1/arm64/* $(CURDIR)/debian/qcom-adreno-gles1/

	mkdir -p $(CURDIR)/debian/qcom-adreno-gles2
	cp -a data/qcom-adreno-gles2/arm64/* $(CURDIR)/debian/qcom-adreno-gles2/

	mkdir -p $(CURDIR)/debian/qcom-adreno-gles-dev
	cp -a data/qcom-adreno-gles-dev/arm64/* $(CURDIR)/debian/qcom-adreno-gles-dev/

	mkdir -p $(CURDIR)/debian/qcom-adreno-vulkan1
	cp -a data/qcom-adreno-vulkan1/arm64/* $(CURDIR)/debian/qcom-adreno-vulkan1/

	mkdir -p $(CURDIR)/debian/qcom-adreno-vulkan-dev
	cp -a data/qcom-adreno-vulkan-dev/arm64/* $(CURDIR)/debian/qcom-adreno-vulkan-dev/
endif
        :

override_dh_strip: ;

override_dh_dwz: ;
